body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ==== BOARD ==== */
.board {
  width: 500px;
  height: 500px;
  border: 5px groove grey;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box {
  background-color: blue;
  display: flex;
  color: #fff;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.box.EMPTY {
  background: url("./images/water.png") no-repeat center;
  background-size: cover;
}
.box.SHIP {
  background: url("./images/ship.png") no-repeat center;
  background-size: cover;
}

.box:hover {
  cursor: pointer;
}

/* ==== PLAYERS ==== */
.playerPane {
  height: min-content;
  margin: 0 4rem;
  background-color: #ddd;
  background-color: aquamarine;
  border: 2px solid grey;
  padding: 1rem;
}
