body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  width: 500px;
  height: 500px;
  border: 5px groove grey;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  background-color: blue;
  display: flex;
  color: #fff;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.box:hover {
  background-color: darkblue;
  cursor: pointer;
}
